<form autocomplete="off" action="#"
      [formGroup]="numberForm"
>
  <div style="margin-top: 10px;">
    <label class="select_country">
      <select  id="selectCountry" formControlName="countryCode">
        <option class="flag" *ngFor="let country of countries" [value]="country.code" >
          {{country.code}}
<!--          <div id="dial_code">-->
<!--            {{country.dial_code}}-->
<!--          </div>-->
        </option>

      </select>
    </label>
    <div (click)="triggerModal = !triggerModal">{{clickLiElement}}</div>
    <div *ngIf="triggerModal;then dropdown" formControlName="countryCode" class="dropdown"></div>

    <input type="text" id="inputPhoneNumber"
       appCustomInput numbers="number"
       formControlName="phoneNumber"
       minlength="{{maxLength}}"
    >
  </div>
  <br>
</form>

<ng-template #dropdown>
  <div class="select-menu">
    <ul>
      <li *ngFor="let country of countries" (click)="valueBlock($event)" class="name_country">
        <div class="flag {{country.code | lowercase}}"></div>
        {{country.name}}
      </li>
    </ul>
  </div>
</ng-template>
